.img-exp1 {
    @include flexbox;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: url("../images/nosotros5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.img-exp2 {
    @include flexbox;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: url("../images/fbo3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}