a {
    text-decoration: none;
}
ol,
ul {
    list-style: none;
}
.header {
    height: var(--altura_header);
    background-color: var(--color_primario);
}
.navbar {
    height: 100%;
    display: flex;
    width: min(1200px, 100%);
    margin: 0;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    padding: 0 var(--padding_left_right);
}

.menu_hamburguesa {
    display: none;
}
.menu_hamburguesa:checked + .ul_links {
    height: calc(100vh - var(--altura_header));
}

.logo {
    color: var(--color_blanco);
}
.list_icon {
    color: var(--color_blanco);
    cursor: pointer;
}
.ul_links {
    width: 100%;
    background-color: black;
    position: absolute;
    top: var(--altura_header);
    left: 0;
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    transition: all 0.3s;
}
.li_links {
    background-color: black;
}

.link {
    font-size: 3.5em;
    color: var(--color_blanco);
    font-weight: bold;
}
:root {
    --color_primario: rgb(0, 0, 0);
    --color_primario_suave: #ffffff;
    --color_blanco: #fff;
    --altura_header: 80px;
    --padding_left_right: 2rem;
    --ancho_maximo: 1200px;
}