$font-family: 'Roboto', sans-serif, "helvetica", "Arial Narrow Bold", "system-ui", "Segoe UI", "Open Sans", "Helvetica Neue";
$imagen-fondo: url("../images/fondo.jpg");
$color-fondo-contenido: #000000;
$color-texto-enlaces: #ffffff;