* {
  box-sizing: border-box;
}

button:hover {
  background-color: rgb(22, 22, 53);
}

header {
  background-color: rgb(246, 246, 246);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2.7em;
}

h3 {
  font-size: 2em;
}

p {
  font-size: 1.25em;
}

ul {
  list-style: none;
}

li {
  font-size: 1.25em;
}

button {
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  color: white;
  background-color: rgb(34, 34, 80);
}

header nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 25px;
}

header a {
  padding: 5px 12px;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

header a a:hover {
  color: rgb(34, 34, 80);
}

.linea {
  border-bottom: 1px solid rgb(0, 0, 0);
}

.linea header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.linea header .logo {
  margin: 0;
  padding: 25px 30px;
  font-weight: bold;
  color: rgb(151, 146, 67);
  font-size: 2em;
}

#fondo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 90vh;
  color: white;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#fondo h1 {
  color: white;
  font-size: 5em;
}

#Sobre-nosotros .containeruno {
  text-align: center;
  padding: 100px 12px;
  display: flex;
  justify-content: space-evenly;
}

#Sobre-nosotros .containeruno .img-container {
  background-image: url("../images/experiencia-golden2.jpg");
  background-size: cover;
  background-position: center center;
  height: 500px;
  width: 400px;
}

#Sobre-nosotros .containeruno .texto {
  width: 50%;
  max-width: 600px;
  text-align: initial;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  max-width: 1400px;
  margin: auto;
}

.color-acento {
  color: rgb(151, 146, 67);
}

#Experiencia-golden {
  background-color: rgb(30, 30, 30);
  color: white;
  text-align: center;
}

#Experiencia-golden .containerdos {
  padding: 100px 12px;
  margin-top: 0;
}

#Experiencia-golden .carta {
  background-position: center center;
  background-size: cover;
  padding: 50px 0px;
  margin: 20px;
  border-radius: 15px;
}

#Experiencia-golden .carta:first-child {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/experiencia-golden3.jpg");
}

#Experiencia-golden .carta:nth-child(2) {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/fbo3.jpg");
}

#Experiencia-golden .carta:nth-child(3) {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/sanitario-avion-2.jpg");
}

#nuestros-jets {
  background-color: rgb(245, 245, 245);
  color: rgb(245, 245, 245);
  text-align: center;
}

#nuestros-jets .container {
  padding: 150px 12px;
}

#nuestros-jets .cartas {
  background-position: center center;
  background-size: cover;
  padding: 200px 0px;
  margin: 20px;
  border-radius: 15px;
}

#nuestros-jets .cartas:first-child {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/cockpitg800.jpg");
}

#caracteristicas {
  padding: 100px 12px;
}

#caracteristicas .container {
  text-align: left;
  font-weight: bold;
}

.preciodolar {
  width: 320px;
  height: 260px;
  border-radius: 10px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  border: 1px solid #bcbcbc;
  margin-bottom: 50px;
  display: flex;
}

footer {
  background-color: rgb(230, 230, 230);
}

footer .containerfooter {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .containerfooter p {
  margin: 0;
  padding: 4px;
  color: rgb(3, 0, 0);
}

#nosotros {
  background-color: rgb(30, 30, 30);
  color: white;
  text-align: center;
  justify-content: center;
  padding: 150px 12px;
}

#nosotros .img-nosotros {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 90vh;
  color: white;
  background-image: url("../images/nosotros.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.img-exp1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 90vh;
  color: white;
  background-image: url("../images/nosotros5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.img-exp2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 90vh;
  color: white;
  background-image: url("../images/fbo3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#Servicioos {
  background-color: rgb(30, 30, 30);
  color: white;
  text-align: center;
}

#Servicioos h2 {
  margin-top: 0;
  font-size: 3.2em;
}

#Servicioos h2 p {
  display: none;
}

#Servicioos .container {
  padding: 150px 12px;
}

#Servicioos .cart {
  background-position: center center;
  background-size: cover;
  padding: 50px 0px;
  margin: 20px;
  border-radius: 15px;
}

#Servicioos .cart:first-child {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/experiencia-golden3.jpg");
}

#Servicioos .cart:nth-child(2) {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/fbo3.jpg");
}

#Servicioos .cart:nth-child(3) {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/sanitario-avion-2.jpg");
}

#jets {
  background-color: rgb(30, 30, 30);
  color: white;
  text-align: center;
  justify-content: center;
  padding: 10px 0 0 0;
}

.slide {
  margin-top: 10px;
}

.slide img {
  height: 95vh;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  filter: brightness(0.8);
}

.carousel-control-prev,
.carousel-control-next {
  background-color: transparent;
  box-shadow: none;
}

button:hover {
  background-color: transparent;
}

#contact {
  background-color: rgb(30, 30, 30);
  color: white;
}

#contact .texto {
  text-align: center;
  padding: 20px 12px;
}

.img-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 90vh;
  color: white;
  background-image: url("../images/fbo3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@media (min-width: 720px) {
  header {
    position: fixed;
    width: 100%;
    z-index: 10;
  }

  header .container {
    flex-direction: row;
    justify-content: space-between;
  }

  header nav {
    flex-direction: row;
    padding-bottom: 0;
    padding-right: 20px;
  }

  #fondo h1 {
    font-size: 5em;
  }

  #Sobre-nosotros .container {
    display: flex;
    justify-content: space-evenly;
  }

  #Sobre-nosotros .texto {
    width: 50%;
    max-width: 600px;
    text-align: initial;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #Sobre-nosotros h2 {
    margin-top: 0px;
  }

  #Sobre-nosotros .img-container {
    background-image: url("../images/experiencia-golden2.jpg");
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 400px;
  }

  #Experiencia-golden .servicios {
    display: flex;
    justify-content: center;
  }

  #Experiencia-golden p {
    display: block;
    margin-bottom: 30px;
  }

  #Experiencia-golden h3 {
    margin-top: 0;
  }

  #Experiencia-golden .carta {
    padding: 15px;
  }

  #caracteristicas {
    background-image: url("../images/contacto.png");
    background-repeat: no-repeat;
    background-size: 26rem;
    background-position: right;
  }

  #caracteristicas li {
    width: 50%;
    text-align: initial;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  #caracteristicas {
    background-position-x: calc(100vw - 800px);
  }
}

@media (width <=750px) {
  .jets-contenedor {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 0 25%;
  }
}

/*# sourceMappingURL=styles.css.map */